# Enviroment variables needed to connect to the LiveKit server.
LIVEKIT_API_KEY=<APIQGMGHExQJudP>
LIVEKIT_API_SECRET=<PdSNbN5YoAfm0efiSiH9L6InaZ5n3L1HJe5hjzFPmDKA>
LIVEKIT_URL=wss://jarvis-3oi9il9h.livekit.cloud

# Internally used environment variables
NEXT_PUBLIC_APP_CONFIG_ENDPOINT=
SANDBOX_ID=
